*{
    padding: 0;
    margin: 0;
}
html ,body{
    width: 100%;
    height: 100%;
    background-image: url("https://wallpapers.com/images/hd/plain-background-7h91softhxck36gv.jpg");
    background-size: cover;
}

#main{
    width: 100%;
    height: 50%;
    /* background-color: black; */
}