*{
    margin: 40;
    padding: 0;
    /* background-color: black; */
}
.container{
    display: flex;
    color: red;
    gap: 220px;
    /* flex-direction: column; */
    
}
.items{
    font-size:70px;

}
.lang{
    color: rgb(199, 141, 141);
    /* background-color: whe; */
    width: 122px;
    height: 36px;
    border: 1px solid rgb(142, 142, 142);
}
.sign{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 92px;
    height: 42px;
    border-radius: 4px;
}